{% extends 'departmentapp/base.html' %}
{% load static %}

{% block extracss %}
    <style>

    </style>
{% endblock %}

{% block sidebar %}
    {% include 'departmentapp/sidebar.html' with dept_code='doece' %}
{% endblock %}

{% block content %}
    {% if not result.error %}
    <div class="row">
         <div class="page-header col-lg-12">
             <h3>Academic Staff</h3>
         </div>
    </div>
    <div class="row">

        <div class="col-lg-12">
            <button class="btn btn-success pull-right" data-toggle="modal" data-target="#addAcademicModal" >
                    <span class="glyphicon glyphicon-pencil"></span> Add Academic Staff
            </button>
            <div class="modal" id="addAcademicModal" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="modal-title"><h3>Add Academic Staff Form
                                <button class="close" data-dismiss="modal">&times</button></h3>
                            </div>

                        </div>
                        <div class="modal-body">

                            <form role="form">
                                <strong class="text-info">Employee Details</strong>
                                <div class="form-group">
                                    <label for="staff_id">Staff ID </label>
                                    <input type="number" required pattern="/d{4}" id="staff_id" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="fname">First Name : </label>
                                    <input type="text" required pattern="[A-Za-z]+" id="fname" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="mname">Middle Name : </label>
                                    <input type="text" pattern="[A-Za-z]+" id="mname" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="lname">Last Name : </label>
                                    <input type="text" required pattern="[A-Za-z]+" id="lname" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="photo">Photo URL </label>
                                    <input type="file" id="photo" accept="image/*" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email </label>
                                    <input type="email" id="email" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="hcontact">Home Contact </label>
                                    <input type="number" required pattern="/d{7}" id="hcontact" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="mcontact">Mobile Contact </label>
                                    <input type="number" required pattern="/d{10}" id="mcontact" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label for="address">Address</label>
                                    <input type="text" class="form-control" id="address">
                                </div>
                                <div class="form-group">
                                    <label for="dateJoined">Date Joined</label>
                                    <input type="datetime-local" class="form-control" id="dateJoined">
                                </div>
                                <hr>

                                <strong class="text-info">Academic Details</strong>
                                <div class="form-group">
                                    <label for="salutation">Salutation</label>
                                    <input type="text" class="form-control" id="salutation">
                                </div>
                                <div class="form-group">
                                    <label for="designation">Designation</label>
                                    <input type="text" class="form-control" id="designation">
                                </div>
                                <div class="form-group">
                                    <label for="serviceType">Service Type</label>
                                    <input name="Service Type" id="serviceType" list="stype" class="form-control">
                                    <datalist id="stype">
                                        <option value=""></option>
                                        <option value="Full-time"></option>
                                        <option value="Part-time"></option>
                                    </datalist>
                                </div>
                                <div class="form-group">
                                    <label for="contractType">Contract Type</label>
                                    <input name="Contract Type" id="contractType" list="ctype" class="form-control">
                                    <datalist id="ctype">
                                        <option value=""></option>
                                        <option value="IOE Contract"></option>
                                        <option value="TU Contract"></option>
                                        <option value="Course Contract"></option>
                                    </datalist>
                                </div>
                                <div class="form-group">
                                    <label for="qualification">Qualification</label>
                                    <input type="text" class="form-control" id="qualification">
                                </div>
                                <div class="form-group">
                                    <label for="post">Post</label>
                                    <select name="post_id" id = "post" class="form-control">
                                        <option value="" selected></option>
                                        <option value="1">HOD</option>
                                        <option value="2">Deputy HOD</option>
                                        <option value="3">M.Sc Coordinator</option>
                                    </select>
                                </div>
                                <hr>

                                <strong class="text-info">Course Details</strong>
                                <div class="form-group">
                                    <label for="courseCode">course_code</label>
                                    <input type="text" class="form-control" id="courseCode">
                                </div>


                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-primary">OK</button>
                            <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin-top: 2%">
                <form class="form" method="POST">
                    {% csrf_token %}

                    <div class="form-group">
                        <div class="col-lg-2">
                        <input type="text" class="form-control" id="sStaff_id" placeholder="Staff ID ">
                        </div>

                        <div class="col-lg-2">
                        <input type="text" class="form-control" id="sFname" placeholder="First Name ">
                        </div>
                        <div class="col-lg-2">
                        <input type="text" class="form-control" id="sDesignation" placeholder="Designation ">
                        </div>
                        <div class="col-lg-2">
                        <input type="text" class="form-control" id="sPost" placeholder="Post ">
                        </div>
                        <div class="col-lg-2">
                        <input type="text" class="form-control" id="sQualification" placeholder="Qualification ">
                        </div>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                        </span>
                    </div>


                </form>
        </div>

        <div class="col-lg-12" style="margin-top: 3%">
            <div id="table-wrapper" class="row">
                    <table width="100%" class="table table-bordered table-hover" id="teacher-table">
                        <thead>
                            <tr>
                                <th>Staff ID</th>
                                <th>Staff Name</th>
                                <th>E-mail</th>
                                <th>Phone Number</th>
                                <th>Designation</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for staff in result.staff_list %}
                                        <tr class="staff-row" data-href="{% url 'departmentapp:dashboard' result.department.dept_code %}">
                                            <td>{{ staff.staff_id }}</td>
                                            <td>{{ staff.salutation }} {{ staff.staff_fname }} {{ staff.staff_mname }} {{ staff.staff_lname }}</td>
                                            <td>{{ staff.email }}</td>
                                            <td>{{ staff.mobile_contact }}</td>
                                            <td>{{ staff.designation }}</td>
                                        </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
    </div>
    {% else %}
        <div class="alert alert-danger">
            <h3>ERROR</h3>
            <p>{{ result.message }}</p>
        </div>
    {% endif %}

{% endblock %}

{% block extrajs %}
    <script>
        var staffrows = document.querySelectorAll('.staff-row');
        staffrows.forEach(function (row){
            row.addEventListener('mouseenter',function (event) {
               this.style.backgroundColor = '#34373a';
               this.style.color = 'white';
               console.log('MouseEnter: '+this.getAttribute('data-href'));
            });
            row.addEventListener('mouseleave',function (event) {
               this.style.backgroundColor = 'white';
               this.style.color = 'black';
               console.log('MouseLeave: '+this.getAttribute('data-href'));
            });
            row.addEventListener('click',function (event) {
                window.location = this.getAttribute('data-href');
                console.log('MouseOver: '+this.getAttribute('data-href'));
            });
        })
    </script>
{% endblock %}