{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Department Faculty and Staff Database</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/sidebar.css' %}" rel="stylesheet">

    <style>
    .modal-backdrop {
        opacity: 0.8;
    }
    </style>
    {% block extracss %}
    {% endblock extracss %}

</head>

<body>


    <div id="wrapper" style="margin: auto;">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" style=" display: block;">
            {% block sidebar %}
            {% endblock %}
        </div>

        <div id="page-wrapper" style="padding: 0 5%;">
            {% block content %}
            {% endblock content %}
        </div>


    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    {% block extrajs %}
    {% endblock %}

</body>

</html>
