{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Department Faculty and Staff Database</title>

    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/sidebar.css' %}" rel="stylesheet">

    <style>
    {% block extracss %}

    .modal-backdrop {
        opacity: 0.8;
    }
    {% endblock extracss %}
    </style>


</head>

<body>


    <div id="wrapper" style="margin: auto;">

        <!-- Sidebar -->
        <div id="sidebar-wrapper" style=" display: block;">
            <ul class="sidebar-nav" style="font-size: larger;padding: 15% 0;">
                <li class="sidebar-brand">
                    {% block deptHeader %}
                    {% endblock %}
               </li>
                <li>
                    <a href="#"><span class="fa fa-dashboard"></span> &nbsp; Dashboard</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-user"></span> &nbsp; Academic Staff</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-user-secret"></span> &nbsp; Non Academic Staff</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-book"></span>  &nbsp; Course</a>
                </li>
                <li>
                    <a href="#"><span class="fa fa-table"></span>  &nbsp; Subject Assignment</a>
                </li>
            </ul>
        </div>

        <div id="page-wrapper" style="padding: 0 5%;">
            {% block content %}
            {% endblock content %}
        </div>


    </div>

    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>

</html>
