{% extends 'departmentapp/base.html' %}
{% load static %}

{% block sidebar %}
    {% include 'departmentapp/sidebar.html' with dept_code=result.department.dept_code %}
{% endblock %}

{% block content %}
    {% if not result.error %}
    <div class="row">
         <div class="page-header col-lg-12">
             <a href="{% url 'departmentapp:add_course' result.department.dept_code %}" class="btn btn-success pull-right" >
                <span class="glyphicon glyphicon-plus-sign"></span> Add New Course
             </a>
             <h3>Courses Offered</h3>
         </div>
    </div>
    <div class="row">
        <div class="col-md-9">
            <form id="filter-form" class="form" method="POST">
                {% csrf_token %}
                <div class="col-lg-12">
                    <div class="col-lg-4">
                        <label for="course_code">Course Code:</label>
                        <input type="text" class="form-control" id="course_code" name="course_code" placeholder="Course Code ">
                    </div>
                    <div class="col-lg-4" >
                        <label for="elective" style="display: block">Elective:</label>
                        <input type="radio" id="elective" name="elective" value="1">    Yes
                        <input type="radio" id="elective" name="elective" value="0" style="margin-left: 5%">    No
                    </div>
                    <div class="col-lg-2">
                       <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div id="filter-result" class="col-lg-7 col-lg-offset-1" style="margin-top: 3%">
            {% include 'departmentapp/coursetable.html' with result=result %}
        </div>
    </div>
    {% else %}
        <div class="alert alert-danger">
            <h3>ERROR</h3>
            <p>{{ result.message }}</p>
        </div>
    {% endif %}

{% endblock %}

{% block extrajs %}
    <script>
        var filterForm = document.querySelector('#filter-form');
        var filterResult = document.querySelector('#filter-result');
        var filterEvent = new Event('filter');

        filterResult.addEventListener('filter',function (event) {
            var courserows = document.querySelectorAll('.course-row');
            courserows.forEach(function (row){
                row.addEventListener('mouseenter',function (event) {
                   this.style.backgroundColor = '#34373a';
                   this.style.color = 'white';
                   console.log('MouseEnter: '+this.getAttribute('data-href'));
                });
                row.addEventListener('mouseleave',function (event) {
                   this.style.backgroundColor = 'white';
                   this.style.color = '#333';
                   console.log('MouseLeave: '+this.getAttribute('data-href'));
                });
                row.addEventListener('click',function (event) {
                    window.location = this.getAttribute('data-href');
                    console.log('MouseOver: '+this.getAttribute('data-href'));
                });
            });
        });

        filterForm.addEventListener('submit',function (event) {
            event.preventDefault();
            var formdata = new FormData(this);
            var req = new XMLHttpRequest();
            req.open('POST',"{% url 'departmentapp:filter_course' result.department.dept_code %}",true);
            req.addEventListener('load',function (ev) {
                filterResult.innerHTML = this.responseText;
                filterResult.dispatchEvent(filterEvent)
            });
            req.send(formdata);
        });

        filterResult.dispatchEvent(filterEvent);
    </script>
    <script>

    </script>
{% endblock %}