{% extends 'departmentapp/base.html' %}
{% load static %}

{% block title %}
    Academic Profile
{% endblock %}

{% block sidebar %}
    {% include 'departmentapp/sidebar.html' with dept_code=result.department.dept_code %}
{% endblock %}

{% block content %}
    {% if not result.error %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-capitalize">Non-Academic Staff Profile</h1>
        </div>
    </div>
    <div class="row" style="margin:auto;">
        <div class="col-md-4">
             <img class="card-img-top" src="{% if result.staff.photo_url %}{% static result.staff.photo_url %}
                                            {% else %}{% static 'user.png' %}{% endif %}" width="100%">
            <p></p>
            <a href="{% url 'departmentapp:edit_nonacademic' result.department.dept_code result.staff.staff_id %}" class="btn btn-block btn-primary">
                <span class="glyphicon glyphicon-pencil"></span> Edit Details
            </a>
            <button class="btn btn-block btn-danger" data-toggle="modal" data-target="#deleteStaffModal">
                <span class="fa fa-edit"></span> Delete Staff
            </button>

            <div class="modal" id="deleteStaffModal" data-backdrop="static" data-keyboard="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="modal-title">
                                <h3><span id="deletionTitle"> Are you sure you want to delete this staff?</span>
                                    <a id="modalCloseBtn" class="close" href="{% url 'departmentapp:nonacademic_profile' result.department.dept_code result.staff.staff_id %} ">&times</a></h3>
                            </div>

                        </div>
                        <div class="modal-body" id="deleteStaffBody">
                            <p>
                                Deleting the record of this staff will completely erase every records associated with it. Proceed with caution!
                            </p>
                            <button class="btn btn-danger" id="delete-staff" data-href="{% url 'departmentapp:delete_employee' result.department.dept_code result.staff.staff_id %}">
                                Proceed
                            </button>
                            <button class="btn btn-primary" data-dismiss="modal">Cancel</button>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-8">
            <div class="card" >
              <ul class="list-group list-group-flush card-body">
                <li class="list-group-item">
                    <p class="card-title text-info">Staff ID</p>
                    <h4 class="card-text "><strong>{{ result.staff.staff_id }}</strong></h4>
                </li>
                <li class="list-group-item">
                    <p class="card-title text-info">Staff Name</p>
                    <h4 class="card-text"><strong>{{ result.staff.staff_fullname }}</strong></h4>
                </li>
                <li class="list-group-item">
                    <p class="card-title text-info">Email ID</p>
                    <h4 class="card-text">{{ result.staff.email }}</h4>
                </li>
                <li class="list-group-item">
                    <p class="card-title text-info">Home Contact</p>
                    <h4 class="card-text">{{ result.staff.home_contact }}</h4>
                </li>
                <li class="list-group-item">
                    <p class="card-title text-info">Mobile Contact</p>
                    <h4 class="card-text">{{ result.staff.mobile_contact }}</h4>
                </li>
                <li class="list-group-item">
                    <p class="card-title text-info">Address</p>
                    <h4 class="card-text">{{ result.staff.address }}</h4>
                </li>
                <li class="list-group-item">
                    <p class="card-title text-info">Post</p>
                    {% if result.staff.post_name %}
                        <h4 class="card-text">{{ result.staff.post_name }}</h4>
                    {% else %}
                        <h4 class="card-text"><span class="text-muted">No posts assigned</span> </h4>
                    {% endif %}
                </li>
              </ul>
            </div>
        </div>
     </div>
    {% else %}
        <div class="alert alert-danger">
            <h3>ERROR</h3>
            <p>{{ result.message }}</p>
        </div>
    {% endif %}
{% endblock content %}

{% block extrajs %}
    <script>
        var deleteBtn = document.querySelector('#delete-staff');
        var deleteBody = document.querySelector('#deleteStaffBody');
        var modalTitle = document.querySelector('#deletionTitle');
        var modalCloseBtn = document.querySelector('#modalCloseBtn');
        deleteBtn.addEventListener('click',function (event) {
            var req = new XMLHttpRequest();
            req.open('GET',deleteBtn.getAttribute('data-href'),true);
            req.addEventListener('load',function (ev) {
                deleteBody.innerHTML = this.responseText;
                modalTitle.textContent = 'Deletion Details';
                modalCloseBtn.setAttribute('href',"{% url 'departmentapp:nonacademic' result.department.dept_code %}");
            });
            req.send();
        });
    </script>
{% endblock %}