{% extends 'departmentapp/base.html' %}
{% load static %}

{% block extracss %}
    <style>
        #filter-wrapper{
            margin-top: 2%;
        }
    </style>
{% endblock %}

{% block sidebar %}
    {% include 'departmentapp/sidebar.html' with dept_code=result.department.dept_code %}
{% endblock %}

{% block content %}
    {% if not result.error %}
    <div class="row">
         <div class="page-header col-lg-12">
             <a href="{% url 'departmentapp:add_nonacademic' result.department.dept_code %}" class="btn btn-success pull-right" >
                <span class="glyphicon glyphicon-plus-sign"></span> Add Non-Academic Staff
             </a>
             <a href="#" id="exportbtn" class="btn btn-primary pull-right" data-name="Non-Academic Staffs" style="margin-right: 2%">
                <span class="glyphicon glyphicon-export"></span> Export to Excel
            </a>
             <h3>Non Academic Staff</h3>
         </div>
    </div>
    <div class="row">
        <div class="col-lg-12" id="filter-wrapper">
            <form id="filter-form" class="form" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <div class="col-lg-2">
                        <label for="staff_id">ID:</label>
                        <input type="number" class="form-control" id="staff_id" name="staff_id" >
                    </div>

                    <div class="col-lg-2">
                        <label for="staff_fname">First Name:</label>
                        <input type="text" class="form-control" id="staff_fname" name="staff_fname" >
                    </div>

                    <div class="col-lg-2">
                        <label for="staff_lname">Last Name:</label>
                        <input type="text" class="form-control" id="staff_lname" name="staff_lname" >
                    </div>

                    <div class="col-lg-2">
                        <label for="post_id">Post</label>
                        <select name="post_id" id = "post_id" class="form-control">
                            <option value="" selected></option>
                            {% for post in result.postlist %}
                                <option value="{{ post.post_id }}">{{ post.post_name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="col-lg-2" style="padding-top: 2%">
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-block" type="submit"><i class="fa fa-search"></i></button>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div id="filter-result" class="col-lg-12" style="margin-top: 3%">
            {% include 'departmentapp/nonacademictable.html' with result=result %}
        </div>
    </div>
    {% else %}
        <div class="alert alert-danger">
            <h3>ERROR</h3>
            <p>{{ result.message }}</p>
        </div>
    {% endif %}

{% endblock %}

{% block extrajs %}
    <script>
        var filterForm = document.querySelector('#filter-form');
        var filterResult = document.querySelector('#filter-result');
        var filterEvent = new Event('filter');

        filterResult.addEventListener('filter',function (event) {
            var staffrows = document.querySelectorAll('.staff-row');
            staffrows.forEach(function (row){
                row.addEventListener('mouseenter',function (event) {
                   this.style.backgroundColor = '#34373a';
                   this.style.color = 'white';
                   console.log('MouseEnter: '+this.getAttribute('data-href'));
                });
                row.addEventListener('mouseleave',function (event) {
                   this.style.backgroundColor = 'white';
                   this.style.color = '#333';
                   console.log('MouseLeave: '+this.getAttribute('data-href'));
                });
                row.addEventListener('click',function (event) {
                    window.location = this.getAttribute('data-href');
                    console.log('MouseOver: '+this.getAttribute('data-href'));
                });
            });
        });

        filterForm.addEventListener('submit',function (event) {
            event.preventDefault();
            var formdata = new FormData(this);
            var req = new XMLHttpRequest();
            req.open('POST',"{% url 'departmentapp:filter_nonacademic' result.department.dept_code %}",true);
            req.addEventListener('load',function (ev) {
                filterResult.innerHTML = this.responseText;
                filterResult.dispatchEvent(filterEvent)
            });
            req.send(formdata);
        });

        filterResult.dispatchEvent(filterEvent);
    </script>
    <script src="{% static 'js/excelExporter.js' %}"></script>
{% endblock %}