{% extends 'facultyapp/base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header text-capitalize">Academic Staff Profile</h1>
        </div>
    </div>
    <div class="row" style="margin:auto;">
        <div class="col-md-4">
             <img class="card-img-top" src="{% static 'images/profile.png' %}" alt="user.name Profile Picture" width="100%">
            <button href="#" class="btn btn-block btn-info" data-toggle="modal" data-target="#updateModal">
            <span class="glyphicon glyphicon-pencil"></span> Edit Details
            </button>
            <div class="modal" id="updateModal" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title"><h3>Update Academic Staff Form
                            <button class="close" data-dismiss="modal">&times</button></h3>
                        </div>

                    </div>
                    <div class="modal-body">

                        <form role="form">
                            <strong class="text-info">Employee Details</strong>
                            <div class="form-group">
                                <label for="staff_id">Staff ID </label>
                                <input type="number" required pattern="/d{4}" id="staff_id" class="form-control" value="1111" >
                            </div>
                            <div class="form-group">
                                <label for="fname">First Name : </label>
                                <input type="text" required pattern="[A-Za-z]+" id="fname" class="form-control" value="Aman">
                            </div>
                            <div class="form-group">
                                <label for="mname">Middle Name : </label>
                                <input type="text" pattern="[A-Za-z]+" id="mname" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="lname">Last Name : </label>
                                <input type="text" required pattern="[A-Za-z]+" id="lname" class="form-control" value="Shakya">
                            </div>
                            <div class="form-group">
                                <label for="photo">Photo URL </label>
                                <input type="file" id="photo" accept="image/*" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="email">Email </label>
                                <input type="email" id="email" class="form-control" value="iamaman@me.io">
                            </div>
                            <div class="form-group">
                                <label for="hcontact">Home Contact </label>
                                <input type="number" required pattern="/d{7}" id="hcontact" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="mcontact">Mobile Contact </label>
                                <input type="number" required pattern="/d{10}" id="mcontact" class="form-control" value="9841562877">
                            </div>
                            <div class="form-group">
                                <label for="address">Address</label>
                                <input type="text" class="form-control" id="address" value="Anamnagar">
                            </div>
                            <div class="form-group">
                                <label for="dateJoined">Date Joined</label>
                                <input type="datetime-local" class="form-control" id="dateJoined" value="2011-04-20T09:30:51.01">
                            </div>
                            <hr>

                            <strong class="text-info">Academic Details</strong>
                            <div class="form-group">
                                <label for="salutation">Salutation</label>
                                <input type="text" class="form-control" id="salutation" value = "Dr. Prof.">
                            </div>
                            <div class="form-group">
                                <label for="designation">Designation</label>
                                <input type="text" class="form-control" id="designation" value = "Reader">
                            </div>
                            <div class="form-group">
                                <label for="serviceType">Service Type</label>
                                <input name="Service Type" id="serviceType" list="stype" class="form-control" value = "Full-time">
                                <datalist id="stype">
                                    <option value=""></option>
                                    <option value="Full-time"></option>
                                    <option value="Part-time"></option>
                                </datalist>
                            </div>
                            <div class="form-group">
                                <label for="contractType">Contract Type</label>
                                <input name="Contract Type" id="contractType" list="ctype" class="form-control" value = "IOE Contract">
                                <datalist id="ctype">
                                    <option value=""></option>
                                    <option value="IOE Contract"></option>
                                    <option value="TU Contract"></option>
                                    <option value="Course Contract"></option>
                                </datalist>
                            </div>
                            <div class="form-group">
                                <label for="qualification">Qualification</label>
                                <input type="text" class="form-control" id="qualification" value = "Doctorate">
                            </div>
                            <div class="form-group">
                                <label for="post">Post</label>
                                <select name="post_id" id = "post" class="form-control">
                                    <option value="" selected></option>
                                    <option value="1">HOD</option>
                                    <option value="2">DHOD</option>
                                    <option value="3">M.Sc Coordinator</option>
                                </select>
                            </div>
                            <hr>

                            <strong class="text-info">Course Details</strong>
                            <div class="form-group">
                                <label for="courseCode">course_code</label>
                                <input type="text" class="form-control" id="courseCode">
                            </div>


                        </form>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary">OK</button>
                        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
            <button class="btn btn-block btn-danger" data-toggle="modal" data-target="#deleteModal">
                <span class="fa fa-trash"></span> Delete
            </button>
             <div class="modal" id="deleteModal" data-backdrop="static" data-keyboard="false">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="modal-title"><h4>Confirm Delete</h4>
                        </div>
                    </div>
                    <div class="modal-body">
                        <p>Are you sure you want to delete this record?</p>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary">Delete</button>
                        <button class="btn btn-default" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
             </div>
        </div>
        <div class="col-md-7">
            <div class="card" >
                <div class="card-body">
                    <h4 class="card-title">Employee Details</h4>
                    <ul class="list-group list-group-flush card-body">
                <li class="list-group-item">
                    <span class="card-title text-info">Staff ID<strong class="pull-right ">Aman</strong> </span>
                </li>
                <li class="list-group-item">
                    <span class="card-title text-info">Staff Name<strong class="pull-right ">Aman</strong> </span>
                </li>
                <li class="list-group-item">
                    <span class="card-title text-info">Email<strong class="pull-right ">iamaman@me.io</strong> </span>
                </li>
                <li class="list-group-item">
                   <span class="card-title text-info">Home Contact<strong class="pull-right ">9841572865</strong> </span>
                </li>
                <li class="list-group-item">
                    <span class="card-title text-info">Mobile Contact<strong class="pull-right ">Aman</strong> </span>
                </li>
                <li class="list-group-item">
                    <span class="card-title text-info">Address<strong class="pull-right ">Aman</strong> </span>
                </li>
              </ul>
                    <h4 class="card-title">Academic Staff Specific Details</h4>
                    <ul class="list-group list-group-flush card-body">
                        <li class="list-group-item">
                            <span class="card-title text-info">Salutation<strong class="pull-right ">Dr. Prof</strong> </span>
                        </li>
                        <li class="list-group-item">
                            <span class="card-title text-info">Designation<strong class="pull-right ">Reeader</strong> </span>
                        </li>
                        <li class="list-group-item">
                            <span class="card-title text-info">Service type<strong class="pull-right ">Full-time</strong> </span>
                        </li>
                        <li class="list-group-item">
                           <span class="card-title text-info">Contract type<strong class="pull-right ">IOE Contract</strong> </span>
                        </li>
                        <li class="list-group-item">
                            <span class="card-title text-info">Qualification<strong class="pull-right ">Doctorate</strong> </span>
                        </li>
                        <li class="list-group-item">
                            <span class="card-title text-info">Post<strong class="pull-right ">M Sc. Coordinator</strong> </span>
                        </li>
                    </ul>
                    <h4 class="card-title">Course Details</h4>
                    <ul class="list-group list-group-flush card-body">
                        <li class="list-group-item">
                            <span class="card-title text-info">Expertise Course </span>
                            <p class="badge lead">#list courses here</p>
                        </li>
                        <li class="list-group-item">
                            <span class="card-title text-info">Currently Teaching </span>
                            <p class="badge lead">#list courses here</p>
                        </li>

                    </ul>

                </div>

            </div>
        </div>
     </div>


{% endblock content %}